body {
  background-color: grey;
}
.nav {
    z-index: 100;
    position: fixed;
    width: 100%;
  }
  
  #navbar {
      /* float: left; */
      height:60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: brown;
      color: #fff;
      font-size: 40px;
    }
  
    #menu {
      display: flex;
      gap: 1em;
      font-size: 25px;
      color:bisque;
      font-family: 'Courier New', Courier, monospace;
    }
    
    #menu li:hover {
      background-color: #4c9e9e;
      border-radius: 5px;
      transition: 0.3s ease;
    }
    
    #menu li {
      padding: 5px 14px;
    }

    



    #modal{
      text-align: center;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 15%;
      width:70%;
      /* height:500px; */
      /* opacity: 0.8; */
      background-color: lightcyan;
      display:none;
      z-index: 10;
      border: #4c9e9e;
      border-width: 5px;
    }
    #modalcontent{
      /* text-align: center; */
      
      margin-left: 10px;
      margin-right:10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #imgmodal{
      /* text-align: center; */
      
      margin-left: 10px;
      margin-right:10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .close{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .prev {
      z-index: 1;
      position:absolute;
      top: 50%;
      transform: translateY(-50%);
      left:1.5%;
      font-size: 30px;
      color: black;
    }
    .next {
      z-index: 1;
      position:absolute;
      top: 50%;
      transform: translateY(-50%);
      right:1.5%;
      font-size: 30px;
      color: black;
    }

.image{
  margin-left: 10px;
  height:400px;
}
.image:hover {
  box-shadow: 0 0 10px blue; 
}
.filters{
  display: flex;
}
#buttons{
  float: left;
  margin-right: 10px;
}
/* }
#text{
  float: left;
} */

.list{
  text-align: center;
}

#loader {
  position: fixed;
  top:50%;
  left:50%;
  z-index:100;
  display:none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}